@tailwind base;
@tailwind components;
@tailwind utilities;

.rep {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 120%;
  object-fit: cover;
  z-index: -1;
}

.box-shadow{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}